body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {

width: 550px;

}
.sticky{
    position: sticky;
    top:0;
    padding-left: 65%;
    z-index: 2;
}
