body {
    background-color:	#1a2e44;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
p{
    color:#cadbf5;
}

h2{
    color:#cadbf5
}

h1{
    color:white
}

a{
    color: #cadbf5;
}