.sticky{
    position: sticky;
    top:0;
    padding-left: 65%;
    z-index: 1;
}
.fate{
   border-bottom: 50px;
    padding-left: 70%;  
}
.wish{
    padding-left: 50%;
  
}
body {
    font-family: monospace;
    font-size: large;
    margin-left: 5%;
    background-color: rgb(190, 209, 225);
}

p {

width: 550px;
}

