*{
    box-sizing:border-box;
}
body{
    background-color: lavenderblush;
    justify-content: center;
    font-family: monospace;
    font-size: medium;
    letter-spacing: 1.5 px;
        line-height: 1.6;
}


a{
    color: rgb(71, 92, 136);
}

.letter{
    width:30%;
    height:700px;
    border-radius: 15px;
    border:1px solid;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: antiquewhite;
    padding-left: 100px;
    padding-right: 100px;
}