*{
    box-sizing:border-box;
}

body{
    font-family: monospace;
    
}

a{
    color: black;
    
}

.months{
    /* display: flex; */
    padding-left: 80px;
    padding-top: 80px;
    display:block;
    line-height: 1.6;
    align-items: left;
    gap:30px 20px;    
}

a:hover{
    background-color: pink;
}